* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100dvw;
    height: 100vh;
    padding: 0 30px;
    overflow-x: hidden;
}

nav {
    background-color: #F5F6F8;
    margin-bottom: 10px;
    padding: 10px 30px;
    border: 1px solid #BEBBBB;
    font-weight: 400;
}


.filter {
    margin-right: 25px;
    float: left;
    margin-top: 5px;
    font-size: large;
}

.pt-filters {
    display: flex;
    gap: 10px;

    button {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 6px;
    }
}

.pt-filters .hover-disabled:hover {
    background-color: #005daa;
}

.pt-ele {
    padding-left: 18px;
    padding-right: 18px;
    background-color: #555759;
    color: white;

    &:hover {
        background-color: #6e6f71;
        color: white;
    }
}

#cg-all,
#cg-nonmetals,
#cg-states {
    margin-right: 25px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        display: block;
        border-right: 1.3px solid #BEBBBB;
        right: -16px;
        top: 0;

    }
}

.pt-filter-hide {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.active {
    background-color: #555759 !important;
}

.hidden-active{
    background-color: transparent !important;
    border: 1px solid #2d2e2f !important;
    color: #2d2e2f;

    &:hover{
        color: white !important;
        background-color: #005daa !important;
    }
}

#pt-reset {
    background: none;
    color: #2d2e2f;
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0 0 105px;
    border: none;

    &:hover{
        color: #555759;
    }
}


